.button {
  padding: 10px;
  text-align: center;
  background-color: var(--savana);
  border-radius: 6px;
  border: 0;
  outline: 0;
  color: var(--fevora);
  min-height: 45px;
  font-weight: bold;

  &:hover {
    opacity: 0.9;
  }
}

.is-flat {
  background-color: lightgray;
  color: black;
}
