.button {
  padding: 10px;
  text-align: center;
  background-color: var(--savana);
  border-radius: 6px;
  border: 0;
  color: var(--fevora);
  min-height: 45px;
  font-weight: bold;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: .4;
    cursor: not-allowed;
  }
}

.is-flat {
  background-color: lightgray;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: black;

  svg {
    width: 20px;
    height: fit-content;
  }
}