@import "./reset.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import './viewports.css';
@import "./pallete.css";


.logo {
  color: var(--fevora);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -4px;
}

.wrapper-report {
  height: 200px;
}