.add-protein {
  background: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.input {
  background: rgba(52, 52, 52, 0.5);
}

.button {
  background-color: var(--savana);
  color: var(--twope);
  font-weight: bold;
}